[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.141.0"
requests = "==2.24.0"
joblib = "==1.0.0"
msedge-selenium-tools = "==3.141.3"
beautifulsoup4 = "==4.9.3"
Flask-Cors = "==3.0.10"
Flask = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.9"
